{% extends 'base.html' %}
{% block name %}
<h3>{{context}}</h3>
{%endblock%}
{% block content %}
<div class="login" style="height:400px;margin-left: 25%;width: 500px;margin-top: 50px;
margin-bottom: 50px;background-color: aliceblue;">
    
    <div class="dangnhap" style="margin-bottom: 40px;text-align: center;"><h2  >ĐĂNG KÝ</h2></div>
    <div style="margin-left: 50px;">
        <form action="/register" method="post">
            <label for="name">Name</label>
            <br>
            <input type="text" name="name" id="name"></input>
            <br>
            <label for="password">Password</label>
            <br>
            <input type="password" name="password" id="password"></input>
            <br>
            <label for="email">Email</label>
            <br>
            <input type="text" name="email" id="email"></input>
            <br>
            <label for="phone">Phone</label>
            <br>
            <input type="text" name="phone" id="phone"></input>
            <br>
            <br>
            <input type="submit"  name="login" id="" value="ĐĂNG KÝ"> 
        </form>
        <div class="form-dangnhap">
            Bạn đã có tài khoản?
            <a class="form-des__text" href="{{url_for('login')}}">Đăng Nhập</a>
          </div>
    </div>
</div>
{%endblock%}

